/data/mnist_test.csv
/data/mnist_train.csv
/data/pickled_mnist.pkl
/data/t10k-images-idx3-ubyte.gz
/data/t10k-labels-idx1-ubyte.gz
/data/train-images-idx3-ubyte.gz
/data/train-labels-idx1-ubyte.gz
/lvq3.iml
/.idea/
